.faleconosco{
    margin-top: 3rem;
    background-color: white;
    color: black;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    position: fixed;
    display: none;
    left: 50px;
    bottom: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
  }
  
 
.botao {
  background-color: grey;
  width: 55px;
  height: 40px;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  left: 50px;
  font-size: 16px;
  z-index: 999;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.botao:hover {
  background-color: white;
  color: red;
}
.fale-title {
  font-size: 15px;
  color: rgb(139, 139, 139);
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-fale {
  width: 80%;
  text-align: left;
}
.cont-txt {
  font-size: 25px;
  font-weight:500;
  margin-right: 10px;
  margin-bottom: 10px;
}
.cont-sub {
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 30px;
}
.tt-lb {
  color: rgb(95, 95, 95);
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: normal;
}
.put-txt-cont {
  border: none;
  width: 300px;
  height: 30px;
  background-color: rgb(236, 236, 236);
  outline: none;
}
.cont-pop-bt {
  display: block;
  width: 300px;
  background-color: red;
  height: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
}
.close {
  position: absolute;
  top: 5px;
  right: 10px;
}