
.il-txt {
    width: 70%;
    height: 100%;
    line-height: 40px;
    text-align: justify;
    color: white;
    position: absolute;
    margin-top: 100px;
}
.il-tt {
    margin-bottom: 60px;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    margin-top: 30px;
}

#particles-js {
    background-color: black;
    height: 195vh;
    display: flex;
    justify-content: center;
    color: #8B0000;
}