.infos {
    width: 100%;
    height: 235vh;
    display: flex;
    flex-direction: row;
}
.info-cars-pay {
    width: 100%;
    height: 200vh;
}
.img-car {
    height: 89vh;
    width: 75%;
    position:sticky;
    top: 11%;
    background-image: url(/home/assets/images/carrotes.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.info-car {
    height: 100%;
    background-color: black;
    width: 25%;
    z-index: 10;
    color: white;
    overflow-x: hidden;
}
.texto-infocar {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.texto-infocar h2 {
  font-size: 40px;
}

.escurecer-img {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.158);
}
.image-img-car {
    width: 100%;
    height: 100%;
}
.img-value-car {
    width: 520px;
    height: 75px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}
.values-img {
    border-radius: 10px 10px 0px 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
}
.spar-info-img {
    width: 1px;
    height: 25%;
    margin-right: 3px;
    margin-left: 3px;
    border-left: 2px solid white;
}
#flecha-cima {
    margin-left: 10px;
    border-radius: 30px;
    background-color: rgb(20, 20, 20);
    padding: 5px;
    box-shadow: 0px 1px 7px rgba(80, 80, 80, 0.274);
}
.modal-wrap {
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    top: 11%;
    left: 0;
    z-index: 998;
    display: none;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: fixed;
    top: 15%;
    left: 13%;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;

  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  #left {
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 900px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 600px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 10;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

.close-wrap {
  position: relative;
  margin-right: 15px;
  margin-top: 10px;
  
}
.fechar-aba {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content:flex-end;
}

.vid-car {
  width: 220vh;
  position: absolute;
  top: 0;
}
.delivery {
  font-size: 15px;
  color: #c7c7c7;
  margin-top: 20px;
}
.zipcode {
  font-size: 15px;
  color: #c7c7c7;
  margin-top: 10px;
}
.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(15, 15, 15);
  color: #ffffff;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  margin-top: 40px;
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  letter-spacing: -1px;
  font-size: 14px;
  text-align: center;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: black;
  font-weight: bold;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: rgb(255, 255, 255);
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/2));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/2));
}

.num-km {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mi{
  margin-right: 30px;
  text-align: center;
  margin-top: 30px;
  height: 80px;
}
.sec{
  margin-left: 30px;
  text-align: center;
  margin-top: 30px;
  height: 80px;
}
.mph {
  text-align: center;
  margin-top: 30px;
  height: 80px;
}

.mi p,
.sec p,
.mph p {
  font-size: 25px;
  color: white;
}
.mi span,
.sec span,
.mph span {
  font-size: 16px;
  color: white;
}
.mi h5,
.sec h5,
.mph h5 {
  width: 80px;
  margin-top: 15px;
  font-weight: normal;
}
#perf {
  font-weight: normal;
  font-size: 27px;
  margin-top: 40px;
}
#inc {
  font-weight: normal;
  color: #c7c7c7;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.perf-li {
  margin-bottom: 13px;
  font-size: 15px;
}
#perf-ul {
  width: 290px;
}
.buttons-comp {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#button-li {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
  margin-top: 20px;
}
.ad {
  margin-right: 10px;
  background-color: red;
  color: white;
}
.feat {
  margin-left: 10px;
  background-color: white;
  color: black;
}
#coming {
  width: 100%;
  margin-top: 30px;
  font-weight: normal;
  margin-left: 30px;
  font-size: 12px;
  margin-bottom: 17px;
}
#txt-coming {
  width: 300px;
  text-align: left;
  line-height: 18px;
  font-size: 12px;
  color: #c7c7c7;
}
#txt-coming2 {
  width: 300px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #c7c7c7;
  margin-top: 15px;
}
#txt-coming3 {
  width: 250px;
  text-align: left;
  line-height: 18px;
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 15px;
  margin-left: 10px;
}
.verifi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.orderbuy {
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
  margin-top: 30px;
  background-color: red;
  color: white;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.open-btn {
	cursor: pointer;
}
.popup {
	position: fixed;
  top:11%;
  left: 0;
  width: 100%;
  height: 100vh;
	display: none;
	overflow: hidden;
  color: black;
	/* background-color: aqua; */
}
.popup-overlay {
	background-color: rgba(0, 0, 0, 0.575);
	height: 100vh;
	width: 100%;
	position: absolute;
}
.main-popup {
	position: absolute;
	left: 0;
	height: 85vh;
	width: 60%;
	z-index: 1;
	background: white;
	padding: 30px 20px;
	line-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
}
.close-btn {
	border: .6px solid white;
	padding: 10px;
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	transition: .5s ease all;
}
.close-btn:hover {
	background: white;
}
.pop-text {
  width: 700px;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
}
@keyframes slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
.pop-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  line-height: 30px;
}
.pop-linha {
  width: 800px;
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.marg-pop {
  margin-bottom: 30px;
}
